openapi: 3.2.0
info:
  title: Starfish Space Website Content API (WordPress REST v2) Types API
  version: '2'
  description: 'The public WordPress REST API served by Starfish Space at https://www.starfishspace.com/wp-json/wp/v2. Starfish Space is a Tukwila, Washington satellite-servicing company building the Otter spacecraft; this API is the content interface behind starfishspace.com (news/press releases, pages, media, taxonomies), not a spacecraft, telemetry or mission-data API. Read operations are available anonymously; write operations require an authenticated WordPress user.


    This document was DERIVED by API Evangelist from documents the API itself publishes: the machine-readable route index at /wp-json/wp/v2 and the item JSON Schemas returned by HTTP OPTIONS on each collection route. No paths, parameters or schema properties were invented.'
  contact:
    name: Starfish Space
    url: https://www.starfishspace.com/contact/
  x-derived-from:
  - https://www.starfishspace.com/wp-json/wp/v2
  - https://www.starfishspace.com/wp-json/wp/v2/{resource} (HTTP OPTIONS)
servers:
- url: https://www.starfishspace.com/wp-json
  description: Production
tags:
- name: types
  description: Registered content types.
paths:
  /wp/v2/types:
    get:
      operationId: listTypes
      tags:
      - types
      summary: List types
      description: Retrieve a collection of types from the Starfish Space WordPress REST API.
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Type'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/types/{type}:
    get:
      operationId: getTypesByType
      tags:
      - types
      summary: Retrieve a single type
      description: Retrieve a single type by route parameter from the Starfish Space WordPress REST API.
      parameters:
      - name: type
        in: path
        required: true
        description: WordPress route parameter type.
        schema:
          type: string
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Type'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
components:
  schemas:
    RestError:
      title: rest-error
      type: object
      description: WordPress REST API error envelope, as returned by this API.
      properties:
        code:
          type: string
          description: Machine-readable error code.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
    Type:
      $schema: http://json-schema.org/draft-04/schema#
      title: type
      type: object
      properties:
        capabilities:
          description: All capabilities used by the post type.
          type: object
          context:
          - edit
          readonly: true
        description:
          description: A human-readable description of the post type.
          type: string
          context:
          - view
          - edit
          readonly: true
        hierarchical:
          description: Whether or not the post type should have children.
          type: boolean
          context:
          - view
          - edit
          readonly: true
        viewable:
          description: Whether or not the post type can be viewed.
          type: boolean
          context:
          - edit
          readonly: true
        labels:
          description: Human-readable labels for the post type for various contexts.
          type: object
          context:
          - edit
          readonly: true
        name:
          description: The title for the post type.
          type: string
          context:
          - view
          - edit
          - embed
          readonly: true
        slug:
          description: An alphanumeric identifier for the post type.
          type: string
          context:
          - view
          - edit
          - embed
          readonly: true
        supports:
          description: All features, supported by the post type.
          type: object
          context:
          - edit
          readonly: true
        has_archive:
          description: If the value is a string, the value will be used as the archive slug. If the value is false the post type has no archive.
          type:
          - string
          - boolean
          context:
          - view
          - edit
          readonly: true
        taxonomies:
          description: Taxonomies associated with post type.
          type: array
          items:
            type: string
          context:
          - view
          - edit
          readonly: true
        rest_base:
          description: REST base route for the post type.
          type: string
          context:
          - view
          - edit
          - embed
          readonly: true
        rest_namespace:
          description: REST route's namespace for the post type.
          type: string
          context:
          - view
          - edit
          - embed
          readonly: true
        visibility:
          description: The visibility settings for the post type.
          type: object
          context:
          - edit
          readonly: true
          properties:
            show_ui:
              description: Whether to generate a default UI for managing this post type.
              type: boolean
            show_in_nav_menus:
              description: Whether to make the post type available for selection in navigation menus.
              type: boolean
        icon:
          description: The icon for the post type.
          type:
          - string
          - 'null'
          context:
          - view
          - edit
          - embed
          readonly: true
        template:
          type:
          - array
          description: The block template associated with the post type.
          readonly: true
          context:
          - view
          - edit
          - embed
        template_lock:
          type:
          - string
          - boolean
          enum:
          - all
          - insert
          - contentOnly
          - false
          description: The template_lock associated with the post type, or false if none.
          readonly: true
          context:
          - view
          - edit
          - embed
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: WordPress application password (username + application password).
    cookieNonce:
      type: apiKey
      in: header
      name: X-WP-Nonce
      description: WordPress cookie authentication nonce, for same-origin requests.
