openapi: 3.2.0
info:
  title: Starfish Space Website Content API (WordPress REST v2) Taxonomies API
  version: '2'
  description: 'The public WordPress REST API served by Starfish Space at https://www.starfishspace.com/wp-json/wp/v2. Starfish Space is a Tukwila, Washington satellite-servicing company building the Otter spacecraft; this API is the content interface behind starfishspace.com (news/press releases, pages, media, taxonomies), not a spacecraft, telemetry or mission-data API. Read operations are available anonymously; write operations require an authenticated WordPress user.


    This document was DERIVED by API Evangelist from documents the API itself publishes: the machine-readable route index at /wp-json/wp/v2 and the item JSON Schemas returned by HTTP OPTIONS on each collection route. No paths, parameters or schema properties were invented.'
  contact:
    name: Starfish Space
    url: https://www.starfishspace.com/contact/
  x-derived-from:
  - https://www.starfishspace.com/wp-json/wp/v2
  - https://www.starfishspace.com/wp-json/wp/v2/{resource} (HTTP OPTIONS)
servers:
- url: https://www.starfishspace.com/wp-json
  description: Production
tags:
- name: taxonomies
  description: Registered taxonomies.
paths:
  /wp/v2/taxonomies:
    get:
      operationId: listTaxonomies
      tags:
      - taxonomies
      summary: List taxonomies
      description: Retrieve a collection of taxonomies from the Starfish Space WordPress REST API.
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: type
        in: query
        required: false
        description: Limit results to taxonomies associated with a specific post type.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Taxonomy'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/taxonomies/{taxonomy}:
    get:
      operationId: getTaxonomiesByTaxonomy
      tags:
      - taxonomies
      summary: Retrieve a single taxonomie
      description: Retrieve a single taxonomie by route parameter from the Starfish Space WordPress REST API.
      parameters:
      - name: taxonomy
        in: path
        required: true
        description: WordPress route parameter taxonomy.
        schema:
          type: string
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Taxonomy'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
components:
  schemas:
    RestError:
      title: rest-error
      type: object
      description: WordPress REST API error envelope, as returned by this API.
      properties:
        code:
          type: string
          description: Machine-readable error code.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
    Taxonomy:
      $schema: http://json-schema.org/draft-04/schema#
      title: taxonomy
      type: object
      properties:
        capabilities:
          description: All capabilities used by the taxonomy.
          type: object
          context:
          - edit
          readonly: true
        description:
          description: A human-readable description of the taxonomy.
          type: string
          context:
          - view
          - edit
          readonly: true
        hierarchical:
          description: Whether or not the taxonomy should have children.
          type: boolean
          context:
          - view
          - edit
          readonly: true
        labels:
          description: Human-readable labels for the taxonomy for various contexts.
          type: object
          context:
          - edit
          readonly: true
        name:
          description: The title for the taxonomy.
          type: string
          context:
          - view
          - edit
          - embed
          readonly: true
        slug:
          description: An alphanumeric identifier for the taxonomy.
          type: string
          context:
          - view
          - edit
          - embed
          readonly: true
        show_cloud:
          description: Whether or not the term cloud should be displayed.
          type: boolean
          context:
          - edit
          readonly: true
        types:
          description: Types associated with the taxonomy.
          type: array
          items:
            type: string
          context:
          - view
          - edit
          readonly: true
        rest_base:
          description: REST base route for the taxonomy.
          type: string
          context:
          - view
          - edit
          - embed
          readonly: true
        rest_namespace:
          description: REST namespace route for the taxonomy.
          type: string
          context:
          - view
          - edit
          - embed
          readonly: true
        visibility:
          description: The visibility settings for the taxonomy.
          type: object
          context:
          - edit
          readonly: true
          properties:
            public:
              description: Whether a taxonomy is intended for use publicly either via the admin interface or by front-end users.
              type: boolean
            publicly_queryable:
              description: Whether the taxonomy is publicly queryable.
              type: boolean
            show_ui:
              description: Whether to generate a default UI for managing this taxonomy.
              type: boolean
            show_admin_column:
              description: Whether to allow automatic creation of taxonomy columns on associated post-types table.
              type: boolean
            show_in_nav_menus:
              description: Whether to make the taxonomy available for selection in navigation menus.
              type: boolean
            show_in_quick_edit:
              description: Whether to show the taxonomy in the quick/bulk edit panel.
              type: boolean
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: WordPress application password (username + application password).
    cookieNonce:
      type: apiKey
      in: header
      name: X-WP-Nonce
      description: WordPress cookie authentication nonce, for same-origin requests.
