openapi: 3.2.0
info:
  title: Starfish Space Website Content API (WordPress REST v2) Posts API
  version: '2'
  description: 'The public WordPress REST API served by Starfish Space at https://www.starfishspace.com/wp-json/wp/v2. Starfish Space is a Tukwila, Washington satellite-servicing company building the Otter spacecraft; this API is the content interface behind starfishspace.com (news/press releases, pages, media, taxonomies), not a spacecraft, telemetry or mission-data API. Read operations are available anonymously; write operations require an authenticated WordPress user.


    This document was DERIVED by API Evangelist from documents the API itself publishes: the machine-readable route index at /wp-json/wp/v2 and the item JSON Schemas returned by HTTP OPTIONS on each collection route. No paths, parameters or schema properties were invented.'
  contact:
    name: Starfish Space
    url: https://www.starfishspace.com/contact/
  x-derived-from:
  - https://www.starfishspace.com/wp-json/wp/v2
  - https://www.starfishspace.com/wp-json/wp/v2/{resource} (HTTP OPTIONS)
servers:
- url: https://www.starfishspace.com/wp-json
  description: Production
tags:
- name: posts
  description: Blog/news posts published on starfishspace.com.
paths:
  /wp/v2/posts:
    get:
      operationId: listPosts
      tags:
      - posts
      summary: List posts
      description: Retrieve a collection of posts from the Starfish Space WordPress REST API.
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: after
        in: query
        required: false
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_after
        in: query
        required: false
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: author
        in: query
        required: false
        description: Limit result set to posts assigned to specific authors.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: author_exclude
        in: query
        required: false
        description: Ensure result set excludes posts assigned to specific authors.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: before
        in: query
        required: false
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        required: false
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: search_semantics
        in: query
        required: false
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by post attribute.
        schema:
          type: string
          default: date
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
      - name: search_columns
        in: query
        required: false
        description: Array of column names to be searched.
        schema:
          default: []
          type: array
          items:
            enum:
            - post_title
            - post_content
            - post_excerpt
            type: string
      - name: slug
        in: query
        required: false
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        description: Limit result set to posts assigned one or more statuses.
        schema:
          default: publish
          type: array
          items:
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
            type: string
      - name: tax_relation
        in: query
        required: false
        description: Limit result set based on relationship between multiple taxonomies.
        schema:
          type: string
          enum:
          - AND
          - OR
      - name: categories
        in: query
        required: false
        description: Limit result set to items with specific terms assigned in the categories taxonomy.
        schema:
          type:
          - object
          - array
          oneOf:
          - title: Term ID List
            description: Match terms with the listed IDs.
            type: array
            items:
              type: integer
          - title: Term ID Taxonomy Query
            description: Perform an advanced term query.
            type: object
            properties:
              terms:
                description: Term IDs.
                type: array
                items:
                  type: integer
                default: []
              include_children:
                description: Whether to include child terms in the terms limiting the result set.
                type: boolean
                default: false
              operator:
                description: Whether items must be assigned all or any of the specified terms.
                type: string
                enum:
                - AND
                - OR
                default: OR
            additionalProperties: false
      - name: categories_exclude
        in: query
        required: false
        description: Limit result set to items except those with specific terms assigned in the categories taxonomy.
        schema:
          type:
          - object
          - array
          oneOf:
          - title: Term ID List
            description: Match terms with the listed IDs.
            type: array
            items:
              type: integer
          - title: Term ID Taxonomy Query
            description: Perform an advanced term query.
            type: object
            properties:
              terms:
                description: Term IDs.
                type: array
                items:
                  type: integer
                default: []
              include_children:
                description: Whether to include child terms in the terms limiting the result set.
                type: boolean
                default: false
            additionalProperties: false
      - name: tags
        in: query
        required: false
        description: Limit result set to items with specific terms assigned in the tags taxonomy.
        schema:
          type:
          - object
          - array
          oneOf:
          - title: Term ID List
            description: Match terms with the listed IDs.
            type: array
            items:
              type: integer
          - title: Term ID Taxonomy Query
            description: Perform an advanced term query.
            type: object
            properties:
              terms:
                description: Term IDs.
                type: array
                items:
                  type: integer
                default: []
              operator:
                description: Whether items must be assigned all or any of the specified terms.
                type: string
                enum:
                - AND
                - OR
                default: OR
            additionalProperties: false
      - name: tags_exclude
        in: query
        required: false
        description: Limit result set to items except those with specific terms assigned in the tags taxonomy.
        schema:
          type:
          - object
          - array
          oneOf:
          - title: Term ID List
            description: Match terms with the listed IDs.
            type: array
            items:
              type: integer
          - title: Term ID Taxonomy Query
            description: Perform an advanced term query.
            type: object
            properties:
              terms:
                description: Term IDs.
                type: array
                items:
                  type: integer
                default: []
            additionalProperties: false
      - name: sticky
        in: query
        required: false
        description: Limit result set to items that are sticky.
        schema:
          type: boolean
      - name: ignore_sticky
        in: query
        required: false
        description: Whether to ignore sticky posts or not.
        schema:
          type: boolean
          default: true
      - name: format
        in: query
        required: false
        description: Limit result set to items assigned one or more given formats.
        schema:
          type: array
          uniqueItems: true
          items:
            enum:
            - standard
            - aside
            - chat
            - gallery
            - link
            - image
            - quote
            - status
            - video
            - audio
            type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: createPosts
      tags:
      - posts
      summary: Create or update posts
      description: Create or update a post via the Starfish Space WordPress REST API. Requires an authenticated WordPress user with sufficient capabilities.
      parameters: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML title for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      description: Content for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML content for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      readonly: true
                    block_version:
                      description: Version of the content block format used by the post.
                      type: integer
                      context:
                      - edit
                      readonly: true
                    protected:
                      description: Whether the content is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The content for the post.
                author:
                  type: integer
                  description: The ID for the author of the post.
                excerpt:
                  type: object
                  properties:
                    raw:
                      description: Excerpt for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML excerpt for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                    protected:
                      description: Whether the excerpt is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not comments are open on the post.
                ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not the post can be pinged.
                format:
                  type: string
                  enum:
                  - standard
                  - aside
                  - chat
                  - gallery
                  - link
                  - image
                  - quote
                  - status
                  - video
                  - audio
                  description: The format for the post.
                meta:
                  type: object
                  properties:
                    footnotes:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                  description: Meta fields.
                sticky:
                  type: boolean
                  description: Whether or not the post should be treated as sticky.
                template:
                  type: string
                  description: The theme file to use to display the post.
                categories:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the category taxonomy.
                tags:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the post_tag taxonomy.
      security:
      - basicAuth: []
      - cookieNonce: []
  /wp/v2/posts/{id}:
    get:
      operationId: getPostsById
      tags:
      - posts
      summary: Retrieve a single post
      description: Retrieve a single post by route parameter from the Starfish Space WordPress REST API.
      parameters:
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: excerpt_length
        in: query
        required: false
        description: Override the default excerpt length.
        schema:
          type: integer
      - name: password
        in: query
        required: false
        description: The password for the post if it is password protected.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: createPostsById
      tags:
      - posts
      summary: Create or update post
      description: Create or update a post via the Starfish Space WordPress REST API. Requires an authenticated WordPress user with sufficient capabilities.
      parameters:
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML title for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      description: Content for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML content for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      readonly: true
                    block_version:
                      description: Version of the content block format used by the post.
                      type: integer
                      context:
                      - edit
                      readonly: true
                    protected:
                      description: Whether the content is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The content for the post.
                author:
                  type: integer
                  description: The ID for the author of the post.
                excerpt:
                  type: object
                  properties:
                    raw:
                      description: Excerpt for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML excerpt for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                    protected:
                      description: Whether the excerpt is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not comments are open on the post.
                ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not the post can be pinged.
                format:
                  type: string
                  enum:
                  - standard
                  - aside
                  - chat
                  - gallery
                  - link
                  - image
                  - quote
                  - status
                  - video
                  - audio
                  description: The format for the post.
                meta:
                  type: object
                  properties:
                    footnotes:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                  description: Meta fields.
                sticky:
                  type: boolean
                  description: Whether or not the post should be treated as sticky.
                template:
                  type: string
                  description: The theme file to use to display the post.
                categories:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the category taxonomy.
                tags:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the post_tag taxonomy.
      security:
      - basicAuth: []
      - cookieNonce: []
    put:
      operationId: updatePostsById
      tags:
      - posts
      summary: Update post
      description: Update a post via the Starfish Space WordPress REST API. Requires an authenticated WordPress user with sufficient capabilities.
      parameters:
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML title for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      description: Content for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML content for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      readonly: true
                    block_version:
                      description: Version of the content block format used by the post.
                      type: integer
                      context:
                      - edit
                      readonly: true
                    protected:
                      description: Whether the content is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The content for the post.
                author:
                  type: integer
                  description: The ID for the author of the post.
                excerpt:
                  type: object
                  properties:
                    raw:
                      description: Excerpt for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML excerpt for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                    protected:
                      description: Whether the excerpt is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not comments are open on the post.
                ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not the post can be pinged.
                format:
                  type: string
                  enum:
                  - standard
                  - aside
                  - chat
                  - gallery
                  - link
                  - image
                  - quote
                  - status
                  - video
                  - audio
                  description: The format for the post.
                meta:
                  type: object
                  properties:
                    footnotes:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                  description: Meta fields.
                sticky:
                  type: boolean
                  description: Whether or not the post should be treated as sticky.
                template:
                  type: string
                  description: The theme file to use to display the post.
                categories:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the category taxonomy.
                tags:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the post_tag taxonomy.
      security:
      - basicAuth: []
      - cookieNonce: []
    patch:
      operationId: updatePostsById2
      tags:
      - posts
      summary: Update post
      description: Update a post via the Starfish Space WordPress REST API. Requires an authenticated WordPress user with sufficient capabilities.
      parameters:
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML title for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      description: Content for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML content for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      readonly: true
                    block_version:
                      description: Version of the content block format used by the post.
                      type: integer
                      context:
                      - edit
                      readonly: true
                    protected:
                      description: Whether the content is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The content for the post.
                author:
                  type: integer
                  description: The ID for the author of the post.
                excerpt:
                  type: object
                  properties:
                    raw:
                      description: Excerpt for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML excerpt for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                    protected:
                      description: Whether the excerpt is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not comments are open on the post.
                ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not the post can be pinged.
                format:
                  type: string
                  enum:
                  - standard
                  - aside
                  - chat
                  - gallery
                  - link
                  - image
                  - quote
                  - status
                  - video
                  - audio
                  description: The format for the post.
                meta:
                  type: object
                  properties:
                    footnotes:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                  description: Meta fields.
                sticky:
                  type: boolean
                  description: Whether or not the post should be treated as sticky.
                template:
                  type: string
                  description: The theme file to use to display the post.
                categories:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the category taxonomy.
                tags:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the post_tag taxonomy.
      security:
      - basicAuth: []
      - cookieNonce: []
    delete:
      operationId: deletePostsById
      tags:
      - posts
      summary: Delete post
      description: Delete a post via the Starfish Space WordPress REST API. Requires an authenticated WordPress user with sufficient capabilities.
      parameters:
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      - name: force
        in: query
        required: false
        description: Whether to bypass Trash and force deletion.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - basicAuth: []
      - cookieNonce: []
  /wp/v2/posts/{id}/autosaves:
    get:
      operationId: getPostsByIdAutosaves
      tags:
      - posts
      summary: Retrieve a single post
      description: Retrieve a single post by route parameter from the Starfish Space WordPress REST API.
      parameters:
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      - name: parent
        in: query
        required: false
        description: The ID for the parent of the autosave.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: createPostsByIdAutosaves
      tags:
      - posts
      summary: Create or update post
      description: Create or update a post via the Starfish Space WordPress REST API. Requires an authenticated WordPress user with sufficient capabilities.
      parameters:
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                parent:
                  type: integer
                  description: The ID for the parent of the autosave.
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML title for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      description: Content for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML content for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      readonly: true
                    block_version:
                      description: Version of the content block format used by the post.
                      type: integer
                      context:
                      - edit
                      readonly: true
                    protected:
                      description: Whether the content is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The content for the post.
                author:
                  type: integer
                  description: The ID for the author of the post.
                excerpt:
                  type: object
                  properties:
                    raw:
                      description: Excerpt for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML excerpt for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                    protected:
                      description: Whether the excerpt is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not comments are open on the post.
                ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not the post can be pinged.
                format:
                  type: string
                  enum:
                  - standard
                  - aside
                  - chat
                  - gallery
                  - link
                  - image
                  - quote
                  - status
                  - video
                  - audio
                  description: The format for the post.
                meta:
                  type: object
                  properties:
                    footnotes:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                  description: Meta fields.
                sticky:
                  type: boolean
                  description: Whether or not the post should be treated as sticky.
                template:
                  type: string
                  description: The theme file to use to display the post.
                categories:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the category taxonomy.
                tags:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the post_tag taxonomy.
      security:
      - basicAuth: []
      - cookieNonce: []
  /wp/v2/posts/{parent}/autosaves/{id}:
    get:
      operationId: getPostsByParentAutosavesById
      tags:
      - posts
      summary: Retrieve a single post
      description: Retrieve a single post by route parameter from the Starfish Space WordPress REST API.
      parameters:
      - name: parent
        in: path
        required: true
        description: WordPress route parameter parent.
        schema:
          type: integer
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/posts/{parent}/revisions:
    get:
      operationId: getPostsByParentRevisions
      tags:
      - posts
      summary: Retrieve a single post
      description: Retrieve a single post by route parameter from the Starfish Space WordPress REST API.
      parameters:
      - name: parent
        in: path
        required: true
        description: WordPress route parameter parent.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by object attribute.
        schema:
          type: string
          default: date
          enum:
          - date
          - id
          - include
          - relevance
          - slug
          - include_slugs
          - title
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/posts/{parent}/revisions/{id}:
    get:
      operationId: getPostsByParentRevisionsById
      tags:
      - posts
      summary: Retrieve a single post
      description: Retrieve a single post by route parameter from the Starfish Space WordPress REST API.
      parameters:
      - name: parent
        in: path
        required: true
        description: WordPress route parameter parent.
        schema:
          type: integer
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    delete:
      operationId: deletePostsByParentRevisionsById
      tags:
      - posts
      summary: Delete post
      description: Delete a post via the Starfish Space WordPress REST API. Requires an authenticated WordPress user with sufficient capabilities.
      parameters:
      - name: parent
        in: path
        required: true
        description: WordPress route parameter parent.
        schema:
          type: integer
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      - name: force
        in: query
        required: false
        description: Required to be true, as revisions do not support trashing.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - basicAuth: []
      - cookieNonce: []
components:
  schemas:
    RestError:
      title: rest-error
      type: object
      description: WordPress REST API error envelope, as returned by this API.
      properties:
        code:
          type: string
          description: Machine-readable error code.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
    Post:
      $schema: http://json-schema.org/draft-04/schema#
      title: post
      type: object
      properties:
        date:
          description: The date the post was published, in the site's timezone.
          type:
          - string
          - 'null'
          format: date-time
          context:
          - view
          - edit
          - embed
        date_gmt:
          description: The date the post was published, as GMT.
          type:
          - string
          - 'null'
          format: date-time
          context:
          - view
          - edit
        guid:
          description: The globally unique identifier for the post.
          type: object
          context:
          - view
          - edit
          readonly: true
          properties:
            raw:
              description: GUID for the post, as it exists in the database.
              type: string
              context:
              - edit
              readonly: true
            rendered:
              description: GUID for the post, transformed for display.
              type: string
              context:
              - view
              - edit
              readonly: true
        id:
          description: Unique identifier for the post.
          type: integer
          context:
          - view
          - edit
          - embed
          readonly: true
        link:
          description: URL to the post.
          type: string
          format: uri
          context:
          - view
          - edit
          - embed
          readonly: true
        modified:
          description: The date the post was last modified, in the site's timezone.
          type: string
          format: date-time
          context:
          - view
          - edit
          readonly: true
        modified_gmt:
          description: The date the post was last modified, as GMT.
          type: string
          format: date-time
          context:
          - view
          - edit
          readonly: true
        slug:
          description: An alphanumeric identifier for the post unique to its type.
          type: string
          context:
          - view
          - edit
          - embed
        status:
          description: A named status for the post.
          type: string
          enum:
          - publish
          - future
          - draft
          - pending
          - private
          - acf-disabled
          context:
          - view
          - edit
        type:
          description: Type of post.
          type: string
          context:
          - view
          - edit
          - embed
          readonly: true
        password:
          description: A password to protect access to the content and excerpt.
          type: string
          context:
          - edit
        permalink_template:
          description: Permalink template for the post.
          type: string
          context:
          - edit
          readonly: true
        generated_slug:
          description: Slug automatically generated from the post title.
          type: string
          context:
          - edit
          readonly: true
        class_list:
          description: An array of the class names for the post container element.
          type: array
          context:
          - view
          - edit
          readonly: true
          items:
            type: string
        title:
          description: The title for the post.
          type: object
          context:
          - view
          - edit
          - embed
          properties:
            raw:
              description: Title for the post, as it exists in the database.
              type: string
              context:
              - edit
            rendered:
              description: HTML title for the post, transformed for display.
              type: string
              context:
              - view
              - edit
              - embed
              readonly: true
        content:
          description: The content for the post.
          type: object
          context:
          - view
          - edit
          properties:
            raw:
              description: Content for the post, as it exists in the database.
              type: string
              context:
              - edit
            rendered:
              description: HTML content for the post, transformed for display.
              type: string
              context:
              - view
              - edit
              readonly: true
            block_version:
              description: Version of the content block format used by the post.
              type: integer
              context:
              - edit
              readonly: true
            protected:
              description: Whether the content is protected with a password.
              type: boolean
              context:
              - view
              - edit
              - embed
              readonly: true
        author:
          description: The ID for the author of the post.
          type: integer
          context:
          - view
          - edit
          - embed
        excerpt:
          description: The excerpt for the post.
          type: object
          context:
          - view
          - edit
          - embed
          properties:
            raw:
              description: Excerpt for the post, as it exists in the database.
              type: string
              context:
              - edit
            rendered:
              description: HTML excerpt for the post, transformed for display.
              type: string
              context:
              - view
              - edit
              - embed
              readonly: true
            protected:
              description: Whether the excerpt is protected with a password.
              type: boolean
              context:
              - view
              - edit
              - embed
              readonly: true
        featured_media:
          description: The ID of the featured media for the post.
          type: integer
          context:
          - view
          - edit
          - embed
        comment_status:
          description: Whether or not comments are open on the post.
          type: string
          enum:
          - open
          - closed
          context:
          - view
          - edit
        ping_status:
          description: Whether or not the post can be pinged.
          type: string
          enum:
          - open
          - closed
          context:
          - view
          - edit
        format:
          description: The format for the post.
          type: string
          enum:
          - standard
          - aside
          - chat
          - gallery
          - link
          - image
          - quote
          - status
          - video
          - audio
          context:
          - view
          - edit
        meta:
          description: Meta fields.
          type: object
          context:
          - view
          - edit
          properties:
            footnotes:
              type: string
              title: ''
              description: ''
              default: ''
        sticky:
          description: Whether or not the post should be treated as sticky.
          type: boolean
          context:
          - view
          - edit
        template:
          description: The theme file to use to display the post.
          type: string
          context:
          - view
          - edit
        categories:
          description: The terms assigned to the post in the category taxonomy.
          type: array
          items:
            type: integer
          context:
          - view
          - edit
        tags:
          description: The terms assigned to the post in the post_tag taxonomy.
          type: array
          items:
            type: integer
          context:
          - view
          - edit
        acf:
          description: ACF field data
          type: object
          properties: []
      links:
      - rel: https://api.w.org/action-publish
        title: The current user can publish this post.
        href: https://www.starfishspace.com/wp-json/wp/v2/posts/{id}
        targetSchema:
          type: object
          properties:
            status:
              type: string
              enum:
              - publish
              - future
      - rel: https://api.w.org/action-unfiltered-html
        title: The current user can post unfiltered HTML markup and JavaScript.
        href: https://www.starfishspace.com/wp-json/wp/v2/posts/{id}
        targetSchema:
          type: object
          properties:
            content:
              raw:
                type: string
      - rel: https://api.w.org/action-sticky
        title: The current user can sticky this post.
        href: https://www.starfishspace.com/wp-json/wp/v2/posts/{id}
        targetSchema:
          type: object
          properties:
            sticky:
              type: boolean
      - rel: https://api.w.org/action-assign-author
        title: The current user can change the author on this post.
        href: https://www.starfishspace.com/wp-json/wp/v2/posts/{id}
        targetSchema:
          type: object
          properties:
            author:
              type: integer
      - rel: https://api.w.org/action-assign-categories
        title: The current user can assign terms in the category taxonomy.
        href: https://www.starfishspace.com/wp-json/wp/v2/posts/{id}
        targetSchema:
          type: object
          properties:
            categories:
              type: array
              items:
                type: integer
      - rel: https://api.w.org/action-create-categories
        title: The current user can create terms in the category taxonomy.
        href: https://www.starfishspace.com/wp-json/wp/v2/posts/{id}
        targetSchema:
          type: object
          properties:
            categories:
              type: array
              items:
                type: integer
      - rel: https://api.w.org/action-assign-tags
        title: The current user can assign terms in the post_tag taxonomy.
        href: https://www.starfishspace.com/wp-json/wp/v2/posts/{id}
        targetSchema:
          type: object
          properties:
            tags:
              type: array
              items:
                type: integer
      - rel: https://api.w.org/action-create-tags
        title: The current user can create terms in the post_tag taxonomy.
        href: https://www.starfishspace.com/wp-json/wp/v2/posts/{id}
        targetSchema:
          type: object
          properties:
            tags:
              type: array
              items:
                type: integer
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: WordPress application password (username + application password).
    cookieNonce:
      type: apiKey
      in: header
      name: X-WP-Nonce
      description: WordPress cookie authentication nonce, for same-origin requests.
