# Derived by the API Evangelist enrichment pipeline from the WordPress REST
# API's own route index and OPTIONS item schemas. See info.x-derived-from.
openapi: 3.1.0
info:
  title: Starfish Space Website Content API (WordPress REST v2)
  version: '2'
  description: 'The public WordPress REST API served by Starfish Space at https://www.starfishspace.com/wp-json/wp/v2.
    Starfish Space is a Tukwila, Washington satellite-servicing company building the Otter spacecraft;
    this API is the content interface behind starfishspace.com (news/press releases, pages, media, taxonomies),
    not a spacecraft, telemetry or mission-data API. Read operations are available anonymously; write
    operations require an authenticated WordPress user.


    This document was DERIVED by API Evangelist from documents the API itself publishes: the machine-readable
    route index at /wp-json/wp/v2 and the item JSON Schemas returned by HTTP OPTIONS on each collection
    route. No paths, parameters or schema properties were invented.'
  contact:
    name: Starfish Space
    url: https://www.starfishspace.com/contact/
  x-derived-from:
  - https://www.starfishspace.com/wp-json/wp/v2
  - https://www.starfishspace.com/wp-json/wp/v2/{resource} (HTTP OPTIONS)
servers:
- url: https://www.starfishspace.com/wp-json
  description: Production
tags:
- name: block-directory
  description: Block directory search.
- name: block-patterns
  description: Registered block patterns.
- name: block-renderer
  description: block-renderer routes.
- name: block-types
  description: Registered block types.
- name: blocks
  description: Reusable editor blocks.
- name: categories
  description: Post categories.
- name: comments
  description: Comments on site content.
- name: font-collections
  description: font-collections routes.
- name: font-families
  description: Registered font families.
- name: global-styles
  description: Global styles.
- name: icons
  description: icons routes.
- name: media
  description: Media library attachments (images, documents).
- name: menu-items
  description: Navigation menu items.
- name: menu-locations
  description: Theme menu locations.
- name: menus
  description: Navigation menus.
- name: navigation
  description: Navigation menus.
- name: pages
  description: Static pages (The Otter, Company, Missions, Careers, Contact).
- name: pattern-directory
  description: Pattern directory.
- name: plugins
  description: Installed plugins.
- name: posts
  description: Blog/news posts published on starfishspace.com.
- name: search
  description: Cross-content search.
- name: settings
  description: Site settings.
- name: sidebars
  description: Widget areas.
- name: statuses
  description: Registered post statuses.
- name: tags
  description: Post tags.
- name: taxonomies
  description: Registered taxonomies.
- name: template-parts
  description: Block theme template parts.
- name: templates
  description: Block theme templates.
- name: themes
  description: Installed themes.
- name: types
  description: Registered content types.
- name: users
  description: Site authors.
- name: widget-types
  description: Available widget types.
- name: widgets
  description: Widgets.
- name: wp_pattern_category
  description: wp_pattern_category routes.
paths:
  /wp/v2/block-directory/search:
    get:
      operationId: listBlockDirectorySearch
      tags:
      - block-directory
      summary: List block directory
      description: Retrieve a collection of block directory from the Starfish Space WordPress REST API.
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: term
        in: query
        required: true
        description: Limit result set to blocks matching the search term.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/block-patterns/categories:
    get:
      operationId: listBlockPatternsCategories
      tags:
      - block-patterns
      summary: List block patterns
      description: Retrieve a collection of block patterns from the Starfish Space WordPress REST API.
      parameters: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/block-patterns/patterns:
    get:
      operationId: listBlockPatternsPatterns
      tags:
      - block-patterns
      summary: List block patterns
      description: Retrieve a collection of block patterns from the Starfish Space WordPress REST API.
      parameters: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/block-renderer/{name}:
    get:
      operationId: getBlockRendererByName
      tags:
      - block-renderer
      summary: Retrieve a single block renderer
      description: Retrieve a single block renderer by route parameter from the Starfish Space WordPress
        REST API.
      parameters:
      - name: name
        in: path
        required: true
        description: WordPress route parameter name.
        schema:
          type: string
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - edit
          default: view
      - name: attributes
        in: query
        required: false
        description: Attributes for the block.
        schema:
          type: object
          default: []
      - name: post_id
        in: query
        required: false
        description: ID of the post context.
        schema:
          type: integer
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: createBlockRendererByName
      tags:
      - block-renderer
      summary: Create or update block renderer
      description: Create or update a block renderer via the Starfish Space WordPress REST API. Requires
        an authenticated WordPress user with sufficient capabilities.
      parameters:
      - name: name
        in: path
        required: true
        description: WordPress route parameter name.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: string
                  enum:
                  - edit
                  default: view
                  description: Scope under which the request is made; determines fields present in response.
                attributes:
                  type: object
                  default: []
                  description: Attributes for the block.
                post_id:
                  type: integer
                  description: ID of the post context.
      security:
      - basicAuth: []
      - cookieNonce: []
  /wp/v2/block-types:
    get:
      operationId: listBlockTypes
      tags:
      - block-types
      summary: List block types
      description: Retrieve a collection of block types from the Starfish Space WordPress REST API.
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: namespace
        in: query
        required: false
        description: Block namespace.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/block-types/{namespace}:
    get:
      operationId: getBlockTypesByNamespace
      tags:
      - block-types
      summary: Retrieve a single block type
      description: Retrieve a single block type by route parameter from the Starfish Space WordPress REST
        API.
      parameters:
      - name: namespace
        in: path
        required: true
        description: WordPress route parameter namespace.
        schema:
          type: string
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/block-types/{namespace}/{name}:
    get:
      operationId: getBlockTypesByNamespaceByName
      tags:
      - block-types
      summary: Retrieve a single block type
      description: Retrieve a single block type by route parameter from the Starfish Space WordPress REST
        API.
      parameters:
      - name: namespace
        in: path
        required: true
        description: WordPress route parameter namespace.
        schema:
          type: string
      - name: name
        in: path
        required: true
        description: WordPress route parameter name.
        schema:
          type: string
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/blocks:
    get:
      operationId: listBlocks
      tags:
      - blocks
      summary: List blocks
      description: Retrieve a collection of blocks from the Starfish Space WordPress REST API.
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: after
        in: query
        required: false
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_after
        in: query
        required: false
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: before
        in: query
        required: false
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        required: false
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: search_semantics
        in: query
        required: false
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by post attribute.
        schema:
          type: string
          default: date
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
      - name: search_columns
        in: query
        required: false
        description: Array of column names to be searched.
        schema:
          default: []
          type: array
          items:
            enum:
            - post_title
            - post_content
            - post_excerpt
            type: string
      - name: slug
        in: query
        required: false
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        description: Limit result set to posts assigned one or more statuses.
        schema:
          default: publish
          type: array
          items:
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
            type: string
      - name: tax_relation
        in: query
        required: false
        description: Limit result set based on relationship between multiple taxonomies.
        schema:
          type: string
          enum:
          - AND
          - OR
      - name: wp_pattern_category
        in: query
        required: false
        description: Limit result set to items with specific terms assigned in the wp_pattern_category
          taxonomy.
        schema:
          type:
          - object
          - array
          oneOf:
          - title: Term ID List
            description: Match terms with the listed IDs.
            type: array
            items:
              type: integer
          - title: Term ID Taxonomy Query
            description: Perform an advanced term query.
            type: object
            properties:
              terms:
                description: Term IDs.
                type: array
                items:
                  type: integer
                default: []
              operator:
                description: Whether items must be assigned all or any of the specified terms.
                type: string
                enum:
                - AND
                - OR
                default: OR
            additionalProperties: false
      - name: wp_pattern_category_exclude
        in: query
        required: false
        description: Limit result set to items except those with specific terms assigned in the wp_pattern_category
          taxonomy.
        schema:
          type:
          - object
          - array
          oneOf:
          - title: Term ID List
            description: Match terms with the listed IDs.
            type: array
            items:
              type: integer
          - title: Term ID Taxonomy Query
            description: Perform an advanced term query.
            type: object
            properties:
              terms:
                description: Term IDs.
                type: array
                items:
                  type: integer
                default: []
            additionalProperties: false
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: createBlocks
      tags:
      - blocks
      summary: Create or update blocks
      description: Create or update a block via the Starfish Space WordPress REST API. Requires an authenticated
        WordPress user with sufficient capabilities.
      parameters: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - view
                      - edit
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      description: Content for the post, as it exists in the database.
                      type: string
                      context:
                      - view
                      - edit
                    block_version:
                      description: Version of the content block format used by the post.
                      type: integer
                      context:
                      - edit
                      readonly: true
                    protected:
                      description: Whether the content is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The content for the post.
                excerpt:
                  type: object
                  properties:
                    raw:
                      description: Excerpt for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML excerpt for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                    protected:
                      description: Whether the excerpt is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The excerpt for the post.
                meta:
                  type: object
                  properties:
                    wp_pattern_sync_status:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                      enum:
                      - partial
                      - unsynced
                    footnotes:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      security:
      - basicAuth: []
      - cookieNonce: []
  /wp/v2/blocks/{id}:
    get:
      operationId: getBlocksById
      tags:
      - blocks
      summary: Retrieve a single block
      description: Retrieve a single block by route parameter from the Starfish Space WordPress REST API.
      parameters:
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: excerpt_length
        in: query
        required: false
        description: Override the default excerpt length.
        schema:
          type: integer
      - name: password
        in: query
        required: false
        description: The password for the post if it is password protected.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: createBlocksById
      tags:
      - blocks
      summary: Create or update block
      description: Create or update a block via the Starfish Space WordPress REST API. Requires an authenticated
        WordPress user with sufficient capabilities.
      parameters:
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - view
                      - edit
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      description: Content for the post, as it exists in the database.
                      type: string
                      context:
                      - view
                      - edit
                    block_version:
                      description: Version of the content block format used by the post.
                      type: integer
                      context:
                      - edit
                      readonly: true
                    protected:
                      description: Whether the content is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The content for the post.
                excerpt:
                  type: object
                  properties:
                    raw:
                      description: Excerpt for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML excerpt for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                    protected:
                      description: Whether the excerpt is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The excerpt for the post.
                meta:
                  type: object
                  properties:
                    wp_pattern_sync_status:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                      enum:
                      - partial
                      - unsynced
                    footnotes:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      security:
      - basicAuth: []
      - cookieNonce: []
    put:
      operationId: updateBlocksById
      tags:
      - blocks
      summary: Update block
      description: Update a block via the Starfish Space WordPress REST API. Requires an authenticated
        WordPress user with sufficient capabilities.
      parameters:
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - view
                      - edit
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      description: Content for the post, as it exists in the database.
                      type: string
                      context:
                      - view
                      - edit
                    block_version:
                      description: Version of the content block format used by the post.
                      type: integer
                      context:
                      - edit
                      readonly: true
                    protected:
                      description: Whether the content is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The content for the post.
                excerpt:
                  type: object
                  properties:
                    raw:
                      description: Excerpt for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML excerpt for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                    protected:
                      description: Whether the excerpt is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The excerpt for the post.
                meta:
                  type: object
                  properties:
                    wp_pattern_sync_status:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                      enum:
                      - partial
                      - unsynced
                    footnotes:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      security:
      - basicAuth: []
      - cookieNonce: []
    patch:
      operationId: updateBlocksById2
      tags:
      - blocks
      summary: Update block
      description: Update a block via the Starfish Space WordPress REST API. Requires an authenticated
        WordPress user with sufficient capabilities.
      parameters:
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - view
                      - edit
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      description: Content for the post, as it exists in the database.
                      type: string
                      context:
                      - view
                      - edit
                    block_version:
                      description: Version of the content block format used by the post.
                      type: integer
                      context:
                      - edit
                      readonly: true
                    protected:
                      description: Whether the content is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The content for the post.
                excerpt:
                  type: object
                  properties:
                    raw:
                      description: Excerpt for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML excerpt for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                    protected:
                      description: Whether the excerpt is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The excerpt for the post.
                meta:
                  type: object
                  properties:
                    wp_pattern_sync_status:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                      enum:
                      - partial
                      - unsynced
                    footnotes:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      security:
      - basicAuth: []
      - cookieNonce: []
    delete:
      operationId: deleteBlocksById
      tags:
      - blocks
      summary: Delete block
      description: Delete a block via the Starfish Space WordPress REST API. Requires an authenticated
        WordPress user with sufficient capabilities.
      parameters:
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      - name: force
        in: query
        required: false
        description: Whether to bypass Trash and force deletion.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - basicAuth: []
      - cookieNonce: []
  /wp/v2/blocks/{id}/autosaves:
    get:
      operationId: getBlocksByIdAutosaves
      tags:
      - blocks
      summary: Retrieve a single block
      description: Retrieve a single block by route parameter from the Starfish Space WordPress REST API.
      parameters:
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      - name: parent
        in: query
        required: false
        description: The ID for the parent of the autosave.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: createBlocksByIdAutosaves
      tags:
      - blocks
      summary: Create or update block
      description: Create or update a block via the Starfish Space WordPress REST API. Requires an authenticated
        WordPress user with sufficient capabilities.
      parameters:
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                parent:
                  type: integer
                  description: The ID for the parent of the autosave.
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - view
                      - edit
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      description: Content for the post, as it exists in the database.
                      type: string
                      context:
                      - view
                      - edit
                    block_version:
                      description: Version of the content block format used by the post.
                      type: integer
                      context:
                      - edit
                      readonly: true
                    protected:
                      description: Whether the content is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The content for the post.
                excerpt:
                  type: object
                  properties:
                    raw:
                      description: Excerpt for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML excerpt for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                    protected:
                      description: Whether the excerpt is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The excerpt for the post.
                meta:
                  type: object
                  properties:
                    wp_pattern_sync_status:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                      enum:
                      - partial
                      - unsynced
                    footnotes:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      security:
      - basicAuth: []
      - cookieNonce: []
  /wp/v2/blocks/{parent}/autosaves/{id}:
    get:
      operationId: getBlocksByParentAutosavesById
      tags:
      - blocks
      summary: Retrieve a single block
      description: Retrieve a single block by route parameter from the Starfish Space WordPress REST API.
      parameters:
      - name: parent
        in: path
        required: true
        description: WordPress route parameter parent.
        schema:
          type: integer
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/blocks/{parent}/revisions:
    get:
      operationId: getBlocksByParentRevisions
      tags:
      - blocks
      summary: Retrieve a single block
      description: Retrieve a single block by route parameter from the Starfish Space WordPress REST API.
      parameters:
      - name: parent
        in: path
        required: true
        description: WordPress route parameter parent.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by object attribute.
        schema:
          type: string
          default: date
          enum:
          - date
          - id
          - include
          - relevance
          - slug
          - include_slugs
          - title
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/blocks/{parent}/revisions/{id}:
    get:
      operationId: getBlocksByParentRevisionsById
      tags:
      - blocks
      summary: Retrieve a single block
      description: Retrieve a single block by route parameter from the Starfish Space WordPress REST API.
      parameters:
      - name: parent
        in: path
        required: true
        description: WordPress route parameter parent.
        schema:
          type: integer
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    delete:
      operationId: deleteBlocksByParentRevisionsById
      tags:
      - blocks
      summary: Delete block
      description: Delete a block via the Starfish Space WordPress REST API. Requires an authenticated
        WordPress user with sufficient capabilities.
      parameters:
      - name: parent
        in: path
        required: true
        description: WordPress route parameter parent.
        schema:
          type: integer
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      - name: force
        in: query
        required: false
        description: Required to be true, as revisions do not support trashing.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - basicAuth: []
      - cookieNonce: []
  /wp/v2/categories:
    get:
      operationId: listCategories
      tags:
      - categories
      summary: List categories
      description: Retrieve a collection of categories from the Starfish Space WordPress REST API.
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          default: asc
          enum:
          - asc
          - desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by term attribute.
        schema:
          type: string
          default: name
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
      - name: hide_empty
        in: query
        required: false
        description: Whether to hide terms not assigned to any posts.
        schema:
          type: boolean
          default: false
      - name: parent
        in: query
        required: false
        description: Limit result set to terms assigned to a specific parent.
        schema:
          type: integer
      - name: post
        in: query
        required: false
        description: Limit result set to terms assigned to a specific post.
        schema:
          type: integer
          default: null
      - name: slug
        in: query
        required: false
        description: Limit result set to terms with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: createCategories
      tags:
      - categories
      summary: Create or update categories
      description: Create or update a categorie via the Starfish Space WordPress REST API. Requires an
        authenticated WordPress user with sufficient capabilities.
      parameters: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                parent:
                  type: integer
                  description: The parent term ID.
                meta:
                  type: object
                  properties: []
                  description: Meta fields.
              required:
              - name
      security:
      - basicAuth: []
      - cookieNonce: []
  /wp/v2/categories/{id}:
    get:
      operationId: getCategoriesById
      tags:
      - categories
      summary: Retrieve a single categorie
      description: Retrieve a single categorie by route parameter from the Starfish Space WordPress REST
        API.
      parameters:
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: createCategoriesById
      tags:
      - categories
      summary: Create or update categorie
      description: Create or update a categorie via the Starfish Space WordPress REST API. Requires an
        authenticated WordPress user with sufficient capabilities.
      parameters:
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                parent:
                  type: integer
                  description: The parent term ID.
                meta:
                  type: object
                  properties: []
                  description: Meta fields.
      security:
      - basicAuth: []
      - cookieNonce: []
    put:
      operationId: updateCategoriesById
      tags:
      - categories
      summary: Update categorie
      description: Update a categorie via the Starfish Space WordPress REST API. Requires an authenticated
        WordPress user with sufficient capabilities.
      parameters:
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                parent:
                  type: integer
                  description: The parent term ID.
                meta:
                  type: object
                  properties: []
                  description: Meta fields.
      security:
      - basicAuth: []
      - cookieNonce: []
    patch:
      operationId: updateCategoriesById2
      tags:
      - categories
      summary: Update categorie
      description: Update a categorie via the Starfish Space WordPress REST API. Requires an authenticated
        WordPress user with sufficient capabilities.
      parameters:
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                parent:
                  type: integer
                  description: The parent term ID.
                meta:
                  type: object
                  properties: []
                  description: Meta fields.
      security:
      - basicAuth: []
      - cookieNonce: []
    delete:
      operationId: deleteCategoriesById
      tags:
      - categories
      summary: Delete categorie
      description: Delete a categorie via the Starfish Space WordPress REST API. Requires an authenticated
        WordPress user with sufficient capabilities.
      parameters:
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      - name: force
        in: query
        required: false
        description: Required to be true, as terms do not support trashing.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - basicAuth: []
      - cookieNonce: []
  /wp/v2/comments:
    get:
      operationId: listComments
      tags:
      - comments
      summary: List comments
      description: Retrieve a collection of comments from the Starfish Space WordPress REST API.
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: after
        in: query
        required: false
        description: Limit response to comments published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: author
        in: query
        required: false
        description: Limit result set to comments assigned to specific user IDs. Requires authorization.
        schema:
          type: array
          items:
            type: integer
      - name: author_exclude
        in: query
        required: false
        description: Ensure result set excludes comments assigned to specific user IDs. Requires authorization.
        schema:
          type: array
          items:
            type: integer
      - name: author_email
        in: query
        required: false
        description: Limit result set to that from a specific author email. Requires authorization.
        schema:
          default: null
          format: email
          type: string
      - name: before
        in: query
        required: false
        description: Limit response to comments published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by comment attribute.
        schema:
          type: string
          default: date_gmt
          enum:
          - date
          - date_gmt
          - id
          - include
          - post
          - parent
          - type
      - name: parent
        in: query
        required: false
        description: Limit result set to comments of specific parent IDs.
        schema:
          default: []
          type: array
          items:
            type: integer
      - name: parent_exclude
        in: query
        required: false
        description: Ensure result set excludes specific parent IDs.
        schema:
          default: []
          type: array
          items:
            type: integer
      - name: post
        in: query
        required: false
        description: Limit result set to comments assigned to specific post IDs.
        schema:
          default: []
          type: array
          items:
            type: integer
      - name: status
        in: query
        required: false
        description: Limit result set to comments assigned a specific status. Requires authorization.
        schema:
          default: approve
          type: string
      - name: type
        in: query
        required: false
        description: Limit result set to comments assigned a specific type. Requires authorization.
        schema:
          default: comment
          type: string
      - name: password
        in: query
        required: false
        description: The password for the post if it is password protected.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: createComments
      tags:
      - comments
      summary: Create or update comments
      description: Create or update a comment via the Starfish Space WordPress REST API. Requires an authenticated
        WordPress user with sufficient capabilities.
      parameters: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID of the user object, if author was a user.
                author_email:
                  type: string
                  format: email
                  description: Email address for the comment author.
                author_ip:
                  type: string
                  format: ip
                  description: IP address for the comment author.
                author_name:
                  type: string
                  description: Display name for the comment author.
                author_url:
                  type: string
                  format: uri
                  description: URL for the comment author.
                author_user_agent:
                  type: string
                  description: User agent for the comment author.
                content:
                  type: object
                  properties:
                    raw:
                      description: Content for the comment, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML content for the comment, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The content for the comment.
                date:
                  type: string
                  format: date-time
                  description: The date the comment was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the comment was published, as GMT.
                parent:
                  default: 0
                  type: integer
                  description: The ID for the parent of the comment.
                post:
                  default: 0
                  type: integer
                  description: The ID of the associated post object.
                status:
                  type: string
                  description: State of the comment.
                meta:
                  type: object
                  properties:
                    _wp_note_status:
                      type: string
                      title: ''
                      description: Note resolution status
                      default: ''
                      enum:
                      - resolved
                      - reopen
                  description: Meta fields.
      security:
      - basicAuth: []
      - cookieNonce: []
  /wp/v2/comments/{id}:
    get:
      operationId: getCommentsById
      tags:
      - comments
      summary: Retrieve a single comment
      description: Retrieve a single comment by route parameter from the Starfish Space WordPress REST
        API.
      parameters:
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: password
        in: query
        required: false
        description: The password for the parent post of the comment (if the post is password protected).
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: createCommentsById
      tags:
      - comments
      summary: Create or update comment
      description: Create or update a comment via the Starfish Space WordPress REST API. Requires an authenticated
        WordPress user with sufficient capabilities.
      parameters:
      - name: id
        in: path
        required: true
        description: WordPress route parameter id.
        schema:
          type: integer
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID of the user object, if author was a user.
                author_email:
                  type: string
                  format: email
                  description: Email address for the comment author.
                author_ip:
                  type: string
                  format: ip
                  description: IP address for the comment author.
                author_name:
                  type: string
                  description: Display name for the comment author.
                author_url:
                  type: string
                  format: uri
                  description: URL for the comment author.
                author_user_agent:
                  type: string
                  description: User agent for the comment author.
                content:
                  type: object
                  properties:
                    raw:
                      description: Content for the comment, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML content for the comment, transformed for display.
                      type: string
[...]
